body {
    font-family: 'Arial', sans-serif;
    background-color: #E0F7FA;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    position: relative;
}

.container {
    text-align: center;
}

h1 {
    color: #2A2A72;
    margin-bottom: 20px;
}

#weather {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    background-color: #E0F7FA;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0288D1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

button:hover {
    background-color: #004D40;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    margin: 0;
    color: #333333;
}

.weather-info img {
    width: 50px;
    height: 50px;
}

.weather-info p {
    margin: 5px 0;
    color: #555555;
}

.weather-info .temp {
    font-size: 2em;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #555;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}